<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thenewboston"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name="com.example.thenewboston.Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.thenewboston.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.thenewboston.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.thenewboston.Menu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.thenewboston.MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.thenewboston.TextPlay"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.thenewboston.Email"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.thenewboston.Camera"
            android:label="Camera Application"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.thenewboston.Data"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.thenewboston.OpenedClass"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.thenewboston.AboutUs"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="com.example.thenewboston.ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.thenewboston.Prefs"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.thenewboston.PREFS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.thenewboston.GFX"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.thenewboston.GFXSurface"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.thenewboston.SoundStuff"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.thenewboston.Slider"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.thenewboston.Tabs"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.thenewboston.SimpleBrowser"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.thenewboston.Flipper"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.thenewboston.Maps"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.thenewboston.HttpExample"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.thenewboston.GeoLocation"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.thenewboston.JSONReader"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.thenewboston.ConsumingJSON"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.thenewboston.JobsMenu"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.thenewboston.Appointments"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.thenewboston.Serialize"
            android:label="@string/app_name" >
        </activity>
                <activity
            android:name="com.example.thenewboston.SigningDateSetup"
            android:label="@string/app_name" >
        </activity>
                        <activity
            android:name="com.example.thenewboston.CalendarPicker"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>